configparser==5.2.0
DateTime==4.5
fyers-apiv2==2.0.5
mysql-connector-python==8.0.29
numpy==1.23.1
pandas==1.4.3
protobuf==4.21.2
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
wincertstore==0.2
wrapt==1.12.1
yfinance==0.1.70
zope.interface==5.4.0