configparser==5.2.0
cycler==0.11.0
DateTime==4.5
fonttools==4.34.4
fyers-apiv2==2.0.5
kiwisolver==1.4.4
matplotlib==3.5.2
mysql-connector-python==8.0.29
numpy==1.23.1
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
protobuf==4.21.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
wincertstore==0.2
wrapt==1.12.1
yfinance==0.1.70
zope.interface==5.4.0
